.tableMainContainer {
  box-sizing: border-box;
  /* width: 375px; */
  padding: 32px 16px;
  background-color: #f8f8f8;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: none;

  border-radius: 8px 8px 0 0;

  overflow: hidden;
}

.table th {
  background-color: rgba(133, 170, 159, 0.1);
  font-family: 'MacPaw', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #121417;
}

.table td {
  font-family: 'MacPaw', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #121417;

  padding: 16px 10px;
}

.iconTH {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellPadding {
  max-width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table th:nth-child(1) {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.table th:nth-child(2),
.table th:nth-child(3) {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.table th:nth-child(4) {
  border-bottom: 1px solid #dbdbdb;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 50px;
  height: 54px;
}

.table td {
  background-color: #fcfcfc;
}

.table td:nth-child(1) {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.table td:nth-child(4) {
  border-bottom: 1px solid #dbdbdb;
}

.table tr:last-child td {
  border-bottom: none;
}

.actionsBtn {
  border: none;
  background-color: transparent;
}

.actionsBtnSvg {
  width: 12px;
  height: 12px;
}
